@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, tudo bem?</h1>
    <h5>Esse é um projeto bem simples onde eu aplico os conceitos de Domain-Driven Design, sinta-se à vontade para
    explorar essa aplicação!</h5>
</div>
